<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>丽锦纺织</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item-group [id]="p.title" *ngFor="let p of pages">
        <button menuClose ion-item  *ngIf="p.type == 'single'" (click)="openPage(p.singleComponent.component, p.singleComponent.param)">
          <ion-icon [name]="p.icon" style="width: 3px;"></ion-icon>
          <span style="margin-left: 15px;"> {{p.title}}</span>
        </button>

        <ion-item *ngIf="p.type == 'mult'" (click)="listShow[p.title]=!listShow[p.title]">
          <ion-icon [name]="p.icon" style="width: 3px;"></ion-icon>
          <span style="margin-left: 15px;"> {{p.title}}</span>
          <ion-icon name="ios-arrow-down" item-right  *ngIf="listShow[p.title]"></ion-icon>
          <ion-icon name="ios-arrow-forward" item-right *ngIf="!listShow[p.title]"></ion-icon>
        </ion-item>
        <ion-grid *ngIf="listShow[p.title]" >
            <ion-row style="margin-left: 4vw;" *ngFor="let i of p.multComponent" class="secondMenu">
            <a menuClose ion-item (click)="openPage(i.component,i.param)" class="fontSecondMenu">
                {{i.title}}
             </a>
          </ion-row>
        </ion-grid>
      </ion-item-group>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>